
.card {
    width: 32%;
    min-height: 447px;
  }
  
  .card__logo {
    /* width: 250px; */
    height: 168px;
    background-color: #000000;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
  }
  
  .card__logo-image {
    width: 100%;
    /* height: 153px; */
    /* opacity: 0.52; */
  }
  
  .card__logo-title {
    text-align: center;
    position: relative;
    margin-top: -109px;
    color: #5dd1f8;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.72px;
  }
  
  .card__logo-title-vip {
    text-align: center;
    position: relative;
    margin-top: -143px;
    color: #5dd1f8;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.72px;
  }
  
  p.card__text{
    font-size: 14px;
  }
  
  span.card {
    text-align: center;
    position: relative;
    margin-top: -100px;
    color: #ec1e79;
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.72px;
  }
  
  .card__desc {
    margin-top: 20px;
    text-align: center;
    
  }
  
  /* .partners{
    padding-bottom: 35px;
    
  } */