
.feed{
  padding-top: 60px;
  padding-bottom: 20px;
  
}

/* .feed__main{
  margin-bottom: 28px;
  padding-top: 16px;

} */

.news__pic{
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  /* max-width: 100%; */
}

.news__avatar{
  display: block;
  max-width: 100%;
}


/* .last__news{
  padding-bottom: 75px;
} */

.news__item{
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 30px;
}

.news__item:last-child{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news__desc{
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-left: 20px;
  /* margin-top: 30px; */
}

.news__date{
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding-bottom: 10px;
}

.news__title{
  font-weight: 700;
  line-height: 21px;
  padding-top: 3px;
}

.news__text{
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 10px;
  /* margin-top: 10px; */
}