
.footer {
  /* height: 77px; */
  background-color: #27273e;
  /* position: relative; */
  margin-top: 58px;
  /* bottom: 0; */
  color: #ffffff;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.footer__comments{
  background-color: #27273e;
  margin-top: 46px;
  color: #ffffff;

}

.footer__prices{
  background-color: #27273e;
  margin-top: -6px;
   color: #ffffff;
}


.container {
  width: 1160px;
  margin: 0 auto;
}

.footer__container {
  /* position: relative;
  min-height: 76px;  
  padding-bottom: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.author{
  /* display: inline-block; */
  max-width: 280px;
  /* vertical-align: top;
  padding-top: 12px; */
  /* color: #fff; */
  font-family: "Gotham Pro Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.1;
  /* margin-right: 610px; */
}

.footer__link {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.footer__text {
  color: #fff;
  font-weight: 700;
}

.logo__footer {
  width: 100px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%,-50%); */
}

.img__footer{
  max-width: 100%;
}

.footer__col{
  flex: 1;
  display: flex;
}

.footer__col--left{
  justify-content: flex-start;
}

.footer__col--center{
  justify-content: center;
}

.footer__col--right{
  justify-content: flex-end;
}

