@import url('./fonts.css');
@import url('./normalize.css');
@import url('./base.css');

@import url('./header.css');
@import url('./sidebar.css');
@import url('./sidebar_icon_for_comments.css');
@import url('./sidebar_icons_for_prices.css');

@import url('./breadcrumbs.css');
@import url('./footer.css');
@import url('./socials.css');




  


.menu-icon{
  background: no-repeat;
  display: inline-block;
}
/* .sidebar{
  
  vertical-align: top;
  margin-right: 70px;
  padding-top: 17px;
  
}

.maincontent__container{
  display: flex;
  justify-content: space-between;
}

.menu__item{
  list-style: none;
  margin-bottom: 33px;
  
  }

.menu__item:last-child{
  margin-bottom: 0;
}
.menu__link{
  font-weight: bold;
  font-size: 12px;
  color: #ec1e79;
  text-decoration: none;
  margin-left: 10px;
  
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: flex;
  
}

.menu__link:hover{
  color: #000;
}
.menu__link:before{
  content: "";
  
    width: 20px;
  height: 18px;
  margin-right: 17px;
  vertical-align: bottom;
  background: no-repeat center center;
} */

/* .menu__link--main:before {
  background-image: url('../img/main_icon-pink.png')
}

.menu__link--comments:before {
  background-image: url('../img/feed_icon-black.png')
}

.menu__link--tarriffs:before {
  background-image: url('../img/wallet_icon.png')
}

.menu__link--main:hover:before{
  background-image: url('../img/main_icon.png')
} */

/* .menu__link--comments:hover:before{
  background-image: url('../img/feed_icon.png')

} */

/* .menu__link--tarriffs:hover:before{
  background-image: url('../img/wallet_icon-black.png')
}

.menu__link--active{
  color: #000;
  text-decoration: underline;
  
}
  

.menu__link:hover{
  color: black;
  text-decoration: underline;
}

.menu-icon{
  background: no-repeat;
  display: inline-block;
} */


/* .breadcrumbs{
  margin-left: 113px;
  display: flex;
  justify-content: start;
} */


/* .breadcrumbs__item, .breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;
} */



.main__title{
  font-weight: bold;
  font-size: 49px;
  margin-top: 15px;
  margin-bottom: 56px;
  color: #221f1f;
  font-family: "Gotham Pro";
  font-weight: 700;
  line-height: 38px;
  }

.feed{
  /* padding-top: 60px; */
  margin-bottom: 28px;
  padding-top: 10px;
}

li {
  list-style: none;
}


.news__pic{
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  /* max-width: 100%; */
  flex-shrink: 0;
}

.news__avatar--round{
  background-color: #f5f5f5;
  width: 160px;
  height: 160px;
  border-radius: 50%;
    background-image: url('../img/com_logo.png')
}

.news__avatar--icon{
  background-repeat: no-repeat;
  background-position: center;
}



.news__avatar{
  display: block;
  max-width: 100%;
}


/* .last__news{
  padding-bottom: 75px;
} */

.news__item{
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 25px;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
}

.news__item:last-child{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news__desc{
  /* display: inline-block; */
  /* width: 60%; */
  /* vertical-align: top; */
  margin-left: 20px;
  /* margin-top: 30px; */
}

.news__date{
  color: #656464;
    font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  /* padding-bottom: 10px; */
}

.news__title{
  font-weight: 700;
  line-height: 21px;
  padding-top: 3px;
}

.news__text{
  color: #221f1f;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 10px;
  /* margin-top: 10px; */
}

.paginataion__container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
  /* align-content: stretch; */
}

.pagination{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 40px;

  
}
.pagination__display,
.pagination__pages-list,
.pagination__pages-item{
  display: inline-flex;
}


.pagination__pages-item {
  margin-right: 14px;
  
}

.pagination__display{ 
  margin-right: 20px;
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.pages__arrow--left {
  opacity: 0.3;
}
.pages__arrow--left,
.pages__arrow--right {
  color: #221f1f;
  vertical-align: middle;
  text-decoration: none;
}

.pagination__pages-link{
  display: inline-block;
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 5px;
  text-decoration: none;
  width: 25px;
  height: 25px;
}

.pagination__pages-link--active{
  width: 25px;
  height: 25px;
  background-color: #27273e;
  color: #ec1e79;
}

.pagination__pages-link:hover{
    color: #ec1e79;
}

.rectangle__info,
.rectangle__pattern{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle__info {
  /* height: 177px; */
  /* width: 100%; */
  background-color: #27273e;
  margin-bottom: 38px;
  /* position: relative;
  margin: 0 auto; */
  
}

.rectangle__text {
color: #ec1e79;
font-weight: 700;
font-size: 18px;
line-height: 30px;
}

.rectangle__container{
  /* position: relative; */
  min-height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 48px;
}

.rectangle__pattern{
  background-image: url('../img/pattern.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* .rectangle__pattern{
  background-repeat: no-repeat;
  background-position: inherit;
} */

.rectangle__desc{
font-family: "Gotham Pro";
color: #ffffff;
font-size: 18px;
font-weight: 300;
line-height: 30px;
width: 57%;
/* padding-bottom: 50px; */
/* display: inline-block;
width: 611px; */
/* position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%);
transform: translate(-50%,-50%); */
}


.form__area{
    display: flex;
    /* flex-flow: column wrap; */
    height: 427px;
    width: 700px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-top: 25px;
    padding: 62px 70px;
}

/* .form__area{
  background-color: #f5f5f5;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  padding: 50px 70px 50px 70px;
  display: flex;
  flex-flow: column wrap;
  width: 700px;
} */
.form__title{
color: #221f1f;
font-family: "Gotham Pro";
font-size: 49px;
font-weight: 700;
line-height: 38px;
margin-bottom: 16px;

}

.form__line{
  display: flex;
  justify-content: space-between;
  
}

.form__line.form__line--radio {
  justify-content: flex-start;
}

.form__answer{
  margin-right: 20px;
  display: flex;
}

.form__radio{
  -webkit-appearance: none;
  appearance: none;
}

.form__radio-fake{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.form__radio-fake:before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.form__radio:checked + .form__radio-fake{
  border: 1px solid #ec1e79;
} 

.form__radio:checked + .form__radio-fake:before{
  background-color: #ec1e79;
}


/* 
.form__label{
  display: flex;
  margin-right: 18px;
}

.form__radio{
  -webkit-appearance: none;
  appearance: none;
}

.form__radio-fake{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__radio-fake::before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  
}

.form__radio:checked + .new__radio-fake{
  border: 1px solid #ec1e79;
} 

.form__radio:checked + .new__radio-fake:before{
  background-color: #ec1e79;
} 

.form__right{
  display: flex;
  justify-content: flex-end;

} */

.form__userdata{
  width: 100%;
  height: 45px;
  margin-bottom: 16px;
  margin-top: 5px;
}

.form__column{
  /* display: flex;
  flex-direction: column; */
  width: 48%;
  margin-top: 6px;
  }

.form__userdata,
.form__textarea{
  outline: none;
  border: 1px solid transparent;
}

.form__userdata:focus{
  border-color: #ec1e79;
}

.form__textarea:focus{
  border-color: #ec1e79;
}



.form__title__question{
  font-size: 14px;
  font-weight: 300;
  color: #221f1f;
  
}

.form__textarea{
  width: 561px;
  height: 90px;
  width: 100%;
  
}

.form__textarea-wrapper{
  display: flex;
  flex-direction: column;

}

#textarea{
  display: flex;
  margin-bottom: 16px;
  resize: none;
  margin-top: 5px;
}




.form__button {
width: 139px;
height: 45px;
background-color: #27273e;
color: #ffffff;
font-family: "Gotham Pro";
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
}

.form__button:hover{
  cursor: pointer;
  background-color:#ec1e79;

}

