/* 
.menu__link--main:before {
  background-image: url('../img/main_icon-pink.png')
}


.menu__link--main:hover:before{
  background-image: url('../img/main_icon.png')
}

.menu__link--main-active:before{
  background-image: url('../img/main_icon.png')
}
.menu__link--main-active {
  color: black;
}

.menu__link--comments:before{
  background-image: url('../img/feed_icon.png')

}

.menu__link--comments:hover:before {
  background-image: url('../img/feed_icon-black.png')
}

.menu__link--comments-active:before {
  background-image: url('../img/feed_icon-black.png')
}
.menu__link--comments-active {
  color:black;
}

.menu__link--tarriffs:before {
  background-image: url('../img/wallet_icon.png')
}


.menu__link--tarriffs:hover:before{
  background-image: url('../img/wallet_icon-black.png')
}

.menu__link--tarriffs-active:before{
  background-image: url('../img/wallet_icon-black.png')
}

.menu__link--tarriffs-active {
  color:black;
}

.menu__link--active{
  color: #000;
  text-decoration: underline;
  
}
  

.menu__link:hover{
  color: black;
  text-decoration: underline;
}


.menu-icon{
  background: no-repeat;
  display: inline-block;
} */