
.socials {
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: column;
  margin-top: 13px;
}

.socials__comments{
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: column;
  margin-top: 10px;
}

.socials__prices{
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: column;
  margin-top: 7px;
}


.socials__text{
  color: #000;
    font-weight: bold;
  font-style: normal;
  font-size: 14px;
  display: block;
  margin-top: 15px;
}



/* ul.socials__list{
  margin-bottom: 0;
} */

.socials__list{
  display: flex;
  margin-left: 10px;
  margin-top: 6px;
  padding-inline-start: 0;

}

.socials__list-comments{
  display: flex;
  margin-left: 18px;
  margin-top: 5px;
  padding-inline-start: 0;
}

.socials__item{
  /* display:inline-block; */
  margin-right: 10px;
}

.socials__link{
  /* display: inline-block; */
  width: 20px;
  height: 20px;
  background-color: #ffff;
  border-radius: 50%;
  /* margin-right: 10px; */
  position: relative;
  display:block;
  transition:  0.3s;
}

/* .social__pic{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.socials__link:hover{
  background-color: #ec1e79;
  transition: 0.3s;
  
}

.socials__pic{
  position: relative;
}

.social__pic::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  background: url('../img/sprites_social.png') no-repeat;
}

.social__pic--vk::before {
  background-position: -41px -39px;
  width: 12px; 
  height: 7px;
}

.social__pic--fb::before {
  background-position: -77px -10px;
  width: 6px; 
  height: 13px;
}

.social__pic--google::before {
  background-position: -10px -10px;
  width: 15px; 
  height: 9px;
}
.social__pic--twitter::before {
  background-position: -10px -39px;
  width: 11px; 
  height: 9px;
}
.social__pic--mail::before {
  background-position: -45px -10px;
  width: 12px; 
  height: 9px;
}